
h1 {
  color: rgb(211, 24, 24);
  text-align: center;
}
p{
  color: blue;
  text-align: left;
  text-decoration: wavy;
}
ol {
  text-align: left;font-family: 'Oswald', sans-serif; ;
}
em{
  text-size-adjust: 8rem;
}